<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Conteúdo Programático
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>





  <div class="container text-center">

    <app-filtro [filtro]="filtro"  [exibir_meses] = "true"></app-filtro>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" [disabled]="!filtro.mes" (click)=" getConteudoDisciplina()">
            Consultar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid *ngIf="conteudoDisciplina.length > 0">
      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-col size="2">
              <strong>Data </strong>
            </ion-col>
            <ion-col size="1">
              <strong>Aula(s) </strong>
            </ion-col>
            <ion-col size="6">
              <strong>Conteúdo </strong>
            </ion-col>
            <ion-col size="3">
              <strong>Observação </strong>
            </ion-col>
          </ion-row>
        </ion-card-header>

        <ion-card-content>
          <ion-row *ngFor="let conteudo of conteudoDisciplina; let i = index">
            <ion-col size="2">
              {{conteudo.dia | date: 'dd/MM/yyyy'}}
            </ion-col>
            <ion-col size="1">
              {{conteudo.aula}}
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-textarea [(ngModel)]="conteudo.conteudo" name="conteudo"></ion-textarea>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item size="3">
                <ion-textarea [(ngModel)]="conteudo.obs" name="conteudo"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-grid>



  </div>
</ion-content>