<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Conteúdo Programático
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container text-center">

    <app-filtro [filtro]="filtro" [exibir_meses]="true"></app-filtro>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" [disabled]="!filtro.mes" (click)=" getConteudoDisciplina()">
            Consultar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="conteudoDisciplina.length > 0">
      <ion-row>
        <ion-col>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">N.</th>
                <th scope="col">Data</th>
                <th scope="col">Aula(s) </th>
                <th scope="col">Descrição conteúdo</th>
                <th scope="col">Observação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let conteudo of conteudoDisciplina; let i = index">
                <th scope="row"> {{i + 1}} </th>
                <td> {{conteudo.dia | date: 'dd/MM/yyyy'}}</td>
                <td> {{conteudo.aula}}</td>
                <td>
                  <ion-item>
                    <ion-textarea [(ngModel)]="conteudo.conteudo" name="conteudo"></ion-textarea>
                  </ion-item>
                </td>
                <td>
                  <ion-item size="3">
                    <ion-textarea [(ngModel)]="conteudo.obs" name="observacao"></ion-textarea>
                  </ion-item>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" (click)="salvar()">
            Salvar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>