<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lançamento de frequênia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <app-filtro [filtro]="filtro" [exibir_aulas]="true"></app-filtro>

    <ion-grid>
      <ion-row>

        <ion-col *ngIf="filtro.disciplina">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [(ngModel)]="dataAula" name="dataAula"
              placeholder="Informe a data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ion-col>

        <ion-col *ngIf="dataAula">
          <mat-form-field>
            <mat-label>Selecione o número de Aulas </mat-label>
            <mat-select required [(ngModel)]="filtro.numeroAula" name="aulas" [disabled]="!aulas.length">
              <mat-option *ngFor="let aula of aulas" [value]="aula">
                {{aula}} aula{{ (aula > 1)? 's': '' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="primary" (click)="getFrequanciaAlunos()" [disabled]="!filtro.numeroAula">
            Consultar
          </ion-button>
        </ion-col>
      </ion-row>



    </ion-grid>








  </div>
</ion-content>