<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lançamento de frequênia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <app-filtro [filtro]="filtro" [exibir_aulas]="true"></app-filtro>

    <ion-grid>
      <ion-row>

        <ion-col *ngIf="filtro.disciplina">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [(ngModel)]="dataAula" name="dataAula" placeholder="Informe a data"
              required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ion-col>

        <ion-col *ngIf="dataAula">
          <mat-form-field>
            <mat-label>Selecione o número de Aulas </mat-label>
            <mat-select required [(ngModel)]="filtro.numeroAula" name="aulas" [disabled]="!aulas.length">
              <mat-option *ngFor="let aula of aulas" [value]="aula">
                {{aula}} aula{{ (aula > 1)? 's': '' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="primary" (click)="getFrequenciaAlunos()" [disabled]="!filtro.numeroAula">
            Consultar
          </ion-button>
        </ion-col>
      </ion-row>







    </ion-grid>

    <ion-grid *ngIf="alunos.length > 0">



      <ion-row>


        <ion-col>

          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">N.</th>
                <th scope="col">Aluno</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Aulas</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aluno of alunos; let i = index">
                <th scope="row"> {{i + 1}} </th>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.matric}}</td>
                <td>


                    <mat-form-field>                      
                        <select matNativeControl name="presenca[i]" [(ngModel)]="aluno.presenca"  required>
                          <option *ngFor="let aula of numeroAulas"  [value]="aula.valor"> {{aula.valor}} </option>                        
                        </select>
                    </mat-form-field>

                  <!-- <ion-list> -->
                  <!-- <ion-item *ngFor="let presenca of aluno.presenca; let j = index">
                    <ion-checkbox slot="end" name="presensa[i][j]" [(ngModel)]="alunos[i].presenca[j]"></ion-checkbox>
                  </ion-item> -->
                  <!-- </ion-list> -->

                  <!-- <ion-checkbox *ngFor="let presenca of aluno.presenca; let j = index"   [checked]="aluno.presenca[j]"></ion-checkbox> -->

                </td>
              </tr>
            </tbody>
          </table>

        </ion-col>

      </ion-row>


      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" (click)="salvarFrequencias()">
            Salvar frequência
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>





  </div>
</ion-content>