<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lançamento de nota
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="container">

    <app-filtro [filtro]="filtro" [exibir_avaliacoes]="true"></app-filtro>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" (click)="getNotasAlunos()" [disabled]="!filtro.avaliacao">
            Consultar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid *ngIf="alunos.length > 0">


      <ion-row>

        <ion-col>
          <table class="table table-striped">
              <thead class="thead-dark">
                  <tr>
                  
                    <th scope="col" colspan="4" >
                        Lançamento de notas: 
                        {{filtro.semestre.ano}} / {{filtro.semestre.seqano}} - Turma: {{filtro.turma}} - {{filtro.avaliacao.des}}
                        - {{filtro.disciplina}}
                    </th>                                       
                  </tr>
              </thead>
            <thead class="thead-dark">
              <tr>
                <th scope="col">N.</th>
                <th scope="col">MATRÍCULA</th>
                <th scope="col">ALUNO</th>
                <th scope="col">NOTA</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aluno of alunos; let i = index">
                <th scope="row"> {{i + 1}} </th>
                <td> {{aluno.matric}} </td>
                <td> {{aluno.nome}} </td>
                <td>
                  <ion-item>
                    <ion-input [value]="alunos[i].x01_NOTA" name="nota[{{i}}]" [(ngModel)]="alunos[i].x01_NOTA">
                    </ion-input>
                  </ion-item>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" (click)="salvar()">
            Salvar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>



  </div>

</ion-content>