
SELECT TOP  10 *  FROM  sec_professor where nome like '%ANTONIO RAFAEL%' --email = 'rogeriosantiago08@gmail.com'

SELECT TOP  100 *  FROM tab_turma where cod = 'ODO2MC' and ano = 2019 and seqano = 1


SELECT TOP  100 * FROM view_lacto_notas_web where TURMA =  'ODO2MC' and MATRIC =  '1510020'




rafaelquadros13@hotmail.com             
451284ev            