<ion-header  >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg">
    <div class="container">

        <ion-grid>
            <ion-row>
              <ion-col class="col-sm text-white text-center">
                  <h4>Olá professor, {{professor.nome}}</h4>  
              <!-- <h4>Seja bem-vindo(a) ao novo portal do professor.</h4>   -->
              </ion-col>
            </ion-row>
          </ion-grid>


      <ion-grid>
        <ion-row>
          <ion-col class="sistema" *ngFor="let menu of menus; let i = index" size-sm>
            <a mat-button [matTooltip]="menu.descricao" [routerLink]="[menu.link]"   >
              <ion-card>
                <img src="../../assets/{{menu.imagem}}" />
              </ion-card>
            </a>
            <ion-label> <strong>{{menu.nome}} </strong></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>